.fullShop {
    display: flex;
    flex-direction: column;
    height: 300%;
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 10vh 5vw 0 5vw;
    align-items: center;
    .fullShop__header {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 3vw;
        width: 100%;
        font-family: "Quicksand", sans-serif;
        .fullShop__headerDiv {
            border: 2px solid var(--accent-color);
            width: 30%;
            border-radius: 2vw;
        }
        .fullShop__headerText {
            font-size: 3.7vw;
            letter-spacing: 0.3vw;
            margin: 2vh 1vw;
        }
    }
    .fullShop__content {
        display: flex;
        flex-direction: column;
        font-family: "Quicksand", sans-serif;

        .fullShop__contentSection {
            margin-bottom: 5vh;
            .fullShop__contentSectionTitle {
                font-size: 3vw;
                margin-bottom: 2vh;
                margin-left: 4.5vw;
                letter-spacing: 0.2vw;
                text-shadow: 2px 2px 7px var(--accent-color), -2px -2px 7px var(--accent-color);
                text-decoration: underline;
            }
            .fullShop__contentSectionCards {
                display: flex; 
            }
        }
    }
}