.cartCard {
    background: var(--secondary-color);
    border-radius: 1.9vw;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin: 2vh 0;
  .cartCard__left {
       border-radius: 2vw;
      img {
          width: 100%;
          height: 100%;
          border-radius: 1.8vw 0 0 1.8vw;
          box-shadow: 2px 0px 10px var(--primary-color);
      }
  }
  .cartCard__middle {
    //   border: 2px solid blue;
  }
}