.productCard {
    background: linear-gradient(to bottom left, var(--primary-color), var(--secondary-color));
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 3.5vw;
    border-radius: 1.9vw;
   .productCard__top {
    //    border: 2px solid blue;
       margin-bottom: 1vh;
        .productCard__topImg {
            display: flex;
            width: 100%;
            height: 40vh;
            object-fit: cover;
            position: relative;
            outline: none;
            border-radius: 1.5vw;
            border: 3px solid var(--primary-color);
            transition: all 0.5s ease;
            &:hover {
                transform: scale(1.1);
                z-index: 100;
                box-shadow: 3px 3px 8px var(--primary-color);
            }
        }
    }
    .productCard__bottom {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding-left: 1.4vw;
        font-family: "Quicksand", sans-serif;
        color: var(--primary-color);

        .productCard__bottom1 {
            p {
                color: var(--accent-color);
                font-weight: 900;
                letter-spacing: 0.1vw;
                font-size: 1vw;
                margin-bottom: 0.8vh;
            }
            h3 {
                color: var(--primary-color);
                font-family: "Acme", serif;
                font-size: 1.6vw;
                letter-spacing: 0.2vw;
                text-decoration: underline;
                margin-bottom: 1.5vh;
                
            }
        }
        .productCard__bottom2 {
            h5 {
                font-size: 1.2vw;
                letter-spacing: 0.14vw;
                margin-bottom: 1vh;
            }
           .productCard__bottom2Rating {
               display: flex;
               font-size: 1.2vw;
               margin-bottom: 0.3vh;
           }
            h6 {
                font-size: 1.1vw;
                letter-spacing: 0.1vw;
                margin-bottom: 2vh;
            }

        }
        .productCard__bottom3 {
            margin-bottom: 2.5vh;
            button {
                cursor: pointer;
                outline: none;
                border: 2px solid var(--accent-color);
                border-radius: 1vw;
                font-size: 1.5vw;
                font-family: "Quicksand", sans-serif;
                font-weight: 900;
                padding: 0.8vh 1vw;
                background: linear-gradient(to bottom right, var(--accent-color), var(--primary-color));
                color: var(--secondary-color);
                letter-spacing: 0.15vw;
                text-shadow: 3px 3px 0px var(--primary-color);
                transition: all 0.3s ease-in-out;
                &:hover {
                    transform: scale(1.02);
                }
            }
            .productCard__bottom3Link {
                color: var(--primary-color);
                margin-left: 0.7vw;
                font-size: 1.1vw;
                font-family: "Quicksand", sans-serif;
                transition: all 0.3s ease-in-out;
                &:hover {
                    font-size: 1.12vw;
                }
            }
        }
    }
}